.content-container {
  padding: 120px;
  width: 90%;
  margin: auto;
}

.proyectos-container {
  display: grid; /* Continuamos con la disposición de grid */
  grid-template-columns: 1fr 1fr; /* Ahora solo necesitamos una columna para cada proyecto */
  gap: 20px; /* Espacio entre proyectos */

  padding: 20px;
  color: white;
}

.title {
  padding-left: 30px;
}

.proyectos-container p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
}

.proyecto-container {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 15px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.proyecto-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.subtitulo {
  color: white;
}

.descripcion {
  color: rgb(172, 172, 172);
  font-style: italic;
}

.proyecto-grid {
  display: grid;
  grid-template-columns: 4fr 1fr; /* 4 partes para el texto y 1 parte para la imagen, sumando 5 partes en total */
  align-items: center;
  gap: 20px; /* Espacio entre el texto y la imagen */
}

.proyecto-text {
  padding: 20px;
}

.proyecto-image img {
  width: 100%; /* La imagen llena su contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
}
