<section class="content-container">
    <div class="title">
        <h1 class="gradient-text">PROYECTOS</h1>
    </div>
    <div class="proyectos-container">
        @for (proyecto of proyectos; track proyecto.titulo) {
        <div class="proyecto-container">
            <div class="proyecto-grid">
                <div class="proyecto-text">
                    <h2 class="titulo gradient-text">{{ proyecto.titulo }}</h2>
                    <h4 class="subtitulo">{{ proyecto.subtitulo }}</h4>
                    <p class="descripcion">{{ proyecto.descripcion }}</p>
                </div>
                <div class="proyecto-image">
                    <img src="{{ proyecto.imagen }}" alt="Imagen del proyecto" />
                </div>
            </div>
        </div>
        } @empty { Empty list of users }
    </div>
</section>