<section class="content-container">
    <div class="left-column">
        <div class="mi-valor-container">
            <h1 class="gradient-text">MI VALOR EN TU EMPRESA</h1>
            <p>Me considero una persona decidida, paciente y práctica. Tengo una buena tolerancia al estrés, lo que
                frecuentemente me ayuda a mantener la calma y tomar decisiones bien pensadas en situaciones desafiantes.
                Creo
                que mi diligencia es un complemento útil a estas habilidades, ya que me esfuerzo por enfocarme en lograr
                buenos
                resultados.</p>
            <p>Tengo tendencia a un enfoque proactivo. Disfruto el proceso de buscar e identificar oportunidades de
                mejora
                en
                mis tareas. Esta actitud me ayuda a prever posibles problemas y a trabajar de manera eficiente,
                contribuyendo
                así al éxito de los proyectos en los que participo.</p>
            <p>Me comprometo a cumplir con mis responsabilidades, y siempre que puedo, intento aportar más allá de lo
                esperado.
                Me gusta proponer ideas que puedan innovar y mejorar los procesos existentes.</p>
            <p>Estoy consciente de que estas cualidades pueden ser de valor para una empresa. Mi objetivo es encontrar
                un
                lugar
                donde pueda aportar al éxito del equipo y, a la vez, crecer tanto personal como profesionalmente. Si
                bien
                soy
                diligente, entiendo que esta es solo una parte de un conjunto de habilidades que espero desarrollar y
                perfeccionar en un entorno colaborativo.</p>
        </div>
        <div class="logos-container">
            <img src="/assets/images/el-trencaclosques-logo.png" alt="Logo Empresa 1" class="empresa-logo">
            <img src="/assets/images/grupo-lambea-logo.png" alt="Logo Empresa 2" class="empresa-logo">
            <img src="/assets/images/insight-logo.png" alt="Logo Empresa 3" class="empresa-logo">
        </div>
    </div>
    <div class="right-column">
        <div class="tech-grid">
            <!-- Ejemplo de imágenes de tecnologías -->
            <img src="/assets/images/frameworks/angular.png" alt="Angular">
            <img src="/assets/images/frameworks/avada.svg" alt="avada">
            <img src="/assets/images/frameworks/flutter.png" alt="flutter">
            <img src="/assets/images/frameworks/laravel.png" alt="laravel">
            <img src="/assets/images/frameworks/mysql.png" alt="mysql">
            <img src="/assets/images/frameworks/photoshop.png" alt="photoshop">
            <img src="/assets/images/frameworks/react.png" alt="react">
            <img src="/assets/images/frameworks/spring.png" alt="spring">
            <img src="/assets/images/frameworks/symfony.png" alt="symfony">


            <!-- Añadir más imágenes según sea necesario -->
        </div>
    </div>
</section>