.mi-valor-container {
  max-width: 800px;
  margin: auto;
  color: white; /* Mantenemos el color de texto principal en blanco para coherencia */
}

.mi-valor-container p {
  line-height: 1.6;
  margin-bottom: 20px;
  font-size: 18px;
}

.content-container {
  display: flex;
  padding: 20px 120px 120px 120px;
  width: 90%;
  margin: auto;
}

.logos-container {
  display: flex;
  justify-content: center; /* Centra los logos horizontalmente */
  align-items: center; /* Alinea los logos verticalmente */
  gap: 20px; /* Espacio entre logos */
  padding: 20px 0; /* Espacio arriba y abajo del contenedor de logos */
}

.empresa-logo {
  max-width: 240px; /* O el tamaño que mejor se adapte a tus logos */
  height: auto; /* Para mantener las proporciones de los logos */
  transition: transform 0.3s; /* Transición suave para efectos de hover */
}

.empresa-logo:hover {
  transform: scale(
    1.1
  ); /* Aumenta ligeramente el tamaño del logo al pasar el mouse por encima */
}

.left-column,
.right-column {
  flex: 1.5; /* Asigna igual espacio a ambas columnas */
}

/*-----------------------------------------------*/

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  width: fit-content;
  margin: auto;
}

.tech-grid img {
  width: 150px;
  transition: transform 0.3s;
}

.tech-grid img:hover {
  transform: scale(1.1);
}
