<nav class="navbar navbar-expand-lg">
  <div class="container-fluid" style="max-width: 1500px !important;">
    <div class="logo gradient-text">

    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="" routerLinkActive="active" class="nav-link gradient-text"
            [routerLinkActiveOptions]="{exact: true}">
            <span>Home</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/mi-valor" routerLinkActive="active" class="nav-link gradient-text">
            <span>Mi Valor</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/mis-proyectos" routerLinkActive="active" class="nav-link gradient-text">
            <span>Proyectos</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/sobre-mi" routerLinkActive="active" class="nav-link gradient-text">
            <span>Sobre Mí</span>
          </a>
        </li>
        <!-- Agrega más elementos si necesitas -->
      </ul>
    </div>
  </div>
</nav>