<nav class="navbar">
  <div class="logo gradient-text">Porfolio</div>
  <div class="nav-links">
    <a routerLink="" routerLinkActive="active" class="nav-item gradient-text" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a routerLink="/mi-valor" routerLinkActive="active" class="nav-item gradient-text">Mi Valor</a>
    <a routerLink="/mis-proyectos" routerLinkActive="active" class="nav-item gradient-text">Mis Proyectos</a>
    <a routerLink="/sobre-mi" routerLinkActive="active" class="nav-item gradient-text">Sobre Mí</a>
    <!-- Agrega más elementos si necesitas -->
  </div>
</nav>
