<div class="sobre-mi-container ">
  <h1 class="gradient-text ">SOBRE MÍ</h1>
  <p>Soy Adrià, un estudiante residente en Barcelona, que acaba de finalizar la formación profesional de desarrollador
    de aplicaciones web y multiplataforma. Mi objetivo es continuar mi formación individual para mejorar mis habilidades
    como programador. Al mismo tiempo, quiero trabajar en una empresa con profesionales de los que pueda aprender y
    crecer rápidamente.</p>

  <p>Desde siempre me he sentido atraído por la informática, aunque me la tomaba como un pasatiempo. No fue hasta los
    17, cuando me dio por desarrollar un servidor de un videojuego para jugar con mis amigos, que descubrí lo que era la
    programación. El sentimiento de poder crear cosas nuevas y útiles mediante la escritura de código me cautivó.</p>

  <p>Me gustaría seguir creciendo en el mundo de la programación en empresas de tecnología que profundicen en el
    desarrollo de aplicaciones web o multiplataforma utilizando nuevas tecnologías y trabajar en proyectos desafiantes
    que me permitan aplicar mis habilidades y conocimientos para resolver problemas complejos.</p>

  <p>Estoy buscando una oportunidad laboral que me ofrezca la opción de trabajar a jornada completa como desarrollador
    de frontend o backend. Me encantaría unirme a una empresa que tenga una cultura de aprendizaje y que fomente la
    formación de su personal. Mi objetivo es poder realizar funciones que me permitan tener un impacto significativo en
    el éxito de la empresa lo antes posible.</p>

  <p>Me considero una persona organizada y detallista, con habilidades en la gestión de proyectos y en la comunicación
    efectiva. Tengo una buena capacidad en resolución de problemas complejos y de liderazgo. Además, me apasiona el
    aprendizaje constante y la mejora continua en mi carrera.</p>

  <a routerLink="/mis-proyectos" class="final-invitation">Te invito a que sepas más de mí…</a>

</div>