:root {
  --disco-50: #fcf3f9;
  --disco-100: #fae9f4;
  --disco-200: #f7d3ea;
  --disco-300: #f2afd8;
  --disco-400: #e97dbd;
  --disco-500: #de56a4;
  --disco-600: #cc3685;
  --disco-700: #b0266a;
  --disco-800: #882052;
  --disco-900: #7a214c;
  --disco-950: #4a0d2a;

  --text-gradient: linear-gradient(
    to right,
    var(--disco-500),
    var(--disco-700)
  );
}

::-webkit-scrollbar {
  display: none;
}

.gradient-text {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 800;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  color: #f8f9fa;
  min-height: 100vh; /* Asegura que la sección tenga al menos la altura de la ventana del navegador */
  width: 100%; /* Asegura que cubra toda la anchura */
  background-image: url("/assets/images/bg-5.jpg"); /* Ajusta la ruta según tu estructura de archivos */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Esto hará que la imagen de fondo no se mueva al hacer scroll */
}
