<section class="container-content">


  <div class="intro-content d-flex flex-column justify-content-end">
    <div class="text-container"> <!-- Altura fija para el contenedor de texto -->
      <h1><span class="gradient-text">Hola, soy</span></h1>
      <p class="white-text">{{ typewriterText }}<span [class]="isBlinking ? 'cursor blinking' : 'cursor'">|</span>
      </p>
    </div>
    <div class="span-desc">Estudiante residente en Barcelona. Organizada y detallista, con habilidades en la
      gestión de proyectos y en la comunicación efectiva</div>
    <div class="action-buttons white-text">
      <a href="https://www.linkedin.com/in/adri%C3%A0-le%C3%B3n-aris/" target="_blank" class="btn hire-me">
        <img src="assets/images/LinkedIn_logo.png" alt="LinkedIn" style="height: 20px; margin-bottom: 2px;">
        Contáctame
      </a>
      <button class="btn download-cv" (click)="downloadCv()">Descarga CV</button>

    </div>
  </div>

  <div class="col-12 col-xl-6 d-flex justify-content-center align-items-center">
    <div class="profile-picture rounded-circle">
      <img src="assets/images/perfil.png" alt="Profile Picture" class="img-fluid">
    </div>
  </div>

</section>